.Footer{
    color: white;
    width: 98%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: larger;
    margin: 30px 1% 30px 1%;
    border-style: double;
}
.FooterLinks{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.FooterLinks p{
    font-size: larger;
}
.FooterLinks a{
    color: white;
    text-decoration: none;
}
.FooterLinks a:hover{
    color: rgb(181, 177, 177);
    text-decoration: none;
}