.detailTable{
    width: 100%;
    color: white;
}

.detailTable tbody{
    width: 100%;
    text-align:center ;
}

.detailRow{
    display: grid;
    grid-template-columns: minmax(76vw,76vw) minmax(10vw,10vw) minmax(10vw,10vw);
    word-wrap: break-word;
    row-gap: 10px;
    column-gap: 1vw;
    margin: 0px;
    padding: 0px;
    .detailRowHead{
        border-style: double;
    }
}


.detailColumnLink{
    color:white;
    text-decoration: underline;
}



.detailColumnLink:hover{
    color: rgb(241, 232, 232);
    cursor: pointer; 
}

